* {
  font-family: "Quicksand";
  color: black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 800;
}


.App {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  display: flex;
}

.calculator {
  background-color: black;
  border-radius: 15px;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
}

.display {
  text-align: right;
  margin: 30px 40px 5px 20px;
  width: 93%;
  height: 100px;
  background-color:#51abb2;
  color: #fff;
  font-size: 40px;
  padding: 30px 30px;
  border-radius: 5px;
}

button {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  transition: 0.4s;
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
}
  
.allButtons {
  display: grid;
 
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;;
  padding: 20px;
}

/*can also be written as grid-template: repeat(5, 1fr) / repeat(4, 1fr); */


.button:hover {
  opacity: 0.9;
}

.deleteButton {
  background-color: #ffb1a5;
  grid-column: span 3;
}


.operators {
  background-color: #ffb1a5;
}

.digits {
  background-color: #e16539;
}

.zero {
  background-color: #e16539;
  grid-column: span 2;
}

.equalSign {
  background-color: #ffb1a5;;
}

.equalSign {
  background-color: #ffb1a5;;
}

.dotSign {
  background-color: #ffb1a5;;
}